$background_color: #fff;
$color-primary: #213f7d;
$color-secondary: #39cdcc;
$sub-head-colors: #545f7d;
$black-listed-color: #e4033b;
$active-color: #39cd62;
$pending-color: #e9b200;
$user-savings-icon-color: #ff3366;
$user-loan-icon-color: #f55f44;
$user-active-icon-color: #5718ff;
